<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hitwh.homework.mapper.PublicService.CompanyMapper">

<!--    &lt;!&ndash; 根据日期范围筛选班级 &ndash;&gt;-->
<!--    <select id="filterClassByDate" resultType="edu.hitwh.homework.pojo.Class">-->
<!--        SELECT * FROM clas-->
<!--        WHERE start_date &gt;= #{startDate} AND end_date &lt;= #{endDate}-->
<!--    </select>-->

<!--    &lt;!&ndash; 根据班级名称模糊查询班级 &ndash;&gt;-->
<!--    <select id="searchClassByName" resultType="edu.hitwh.homework.pojo.Class">-->
<!--        SELECT * FROM clas-->
<!--        WHERE class_name LIKE CONCAT('%', #{className}, '%')-->
<!--    </select>-->

<!--    &lt;!&ndash; 添加班级 &ndash;&gt;-->
<!--    <insert id="addClass">-->
<!--        INSERT INTO clas (class_name, classroom, start_date, end_date, class_teacher)-->
<!--        VALUES (#{className}, #{classroom}, #{startDate}, #{endDate}, #{classTeacher})-->
<!--    </insert>-->

<!--    &lt;!&ndash; 删除班级 &ndash;&gt;-->
<!--    <delete id="deleteClass">-->
<!--        DELETE FROM clas WHERE id = #{classId}-->
<!--    </delete>-->

<!--    &lt;!&ndash; 更新班级 &ndash;&gt;-->
<!--    <update id="updateClass">-->
<!--        UPDATE clas-->
<!--        SET class_name = #{className}, classroom = #{classroom}, start_date = #{startDate}, end_date = #{endDate}, class_teacher = #{classTeacher}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

</mapper>
